body {
  width: 6px;
  margin: 4 auto;
}
table {
  border-bottom: 20px red;
  margin-top: 16px;
  padding-top: 24px;
  width: 2px;
  height: 2px;
  float: left;
}
h4 { 
  color: blue;
  font-family: arial;
  font-size: 16px;
  line-height: 18px;


}
